# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# local env files
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
*.DS_Store

# Optional: ignore React Native files if not needed
*.xcworkspace
*.xcodeproj
*.pbxproj
Pods/
